@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=PT+Sans:wght&family=Playfair+Display:wght@700@700&display=swap");
/*** SCROLLBAR ***/
body::-webkit-scrollbar {
  width: 0.3em;
  background-color: rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #708090;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
  scroll-behavior: smooth;
}

/**__Common-Styles**/
.btn-round-effect {
  background-color: transparent;
  color: #333;
  border-radius: 5px;
  padding: 0.5rem 0.6rem;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 100rem;
  border: 0;
}
.btn-round-effect svg {
  fill: #333;
}
.btn-round-effect:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-round-effect:active {
  background-color: transparent;
  transform: scale(1.2);
}

/**__Navigation-Bar**/
.__navbar {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 60px;
  user-select: none;
  z-index: 1000;
}
.__navbar .__left,
.__navbar .__right {
  display: flex;
  align-items: center;
  height: 100%;
}
.__navbar .__menu-btn {
  margin-left: 1rem;
}
.__navbar .navbar-brand img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  padding: 0 1.2rem;
}
.__navbar .__right {
  padding-right: 1rem;
}
.__navbar .__right .__menu-2 a {
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 400;
  margin: 0 0.8rem;
}
.__navbar .__right .__menu-2 a.active {
  font-weight: 700;
}
.__navbar .__right .__menu-2 a:hover {
  color: rgba(51, 51, 51, 0.5);
}

.__menu-1 {
  padding-top: 1rem;
  user-select: none;
}
.__menu-1 .btn-close {
  margin-left: auto;
  margin-right: 1rem;
  padding: 1rem;
}
.__menu-1 a {
  width: fit-content;
  color: #333;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  margin: 0.5rem 1.8rem;
  border-bottom: 1px dashed transparent;
}
.__menu-1 a.active {
  font-weight: 700;
}
.__menu-1 a:hover {
  border-bottom: 1px solid #333;
}

/**__Home**/
.__home {
  /**__hero-section**/
}
.__home .__hero-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../images/white-banner.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 10rem 0;
}
.__home .__hero-section .row > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.__home .__hero-section img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/3;
  border-radius: 0.6rem;
  transition: padding 0.2s ease-in-out;
}
.__home .__hero-section h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: #12225b;
}
.__home .__hero-section p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
.__home .__hero-section .btn {
  width: fit-content;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
}
.__home .__hero-section .btn svg {
  fill: #333;
}
.__home .__hero-section .btn:hover {
  background-color: rgba(52, 152, 219, 0.2);
}
.__home .__hero-section .btn:active {
  background-color: transparent;
  transform: scale(1.2);
}
.__home .__hero-section .btn:hover {
  background-color: rgba(52, 152, 219, 0.7);
}
.__home .__hero-section .right-dots {
  position: absolute;
  bottom: 200px;
  right: 125px;
  width: 150px;
  height: 150px;
  z-index: 999;
  background-image: url("../images/dots-wrapper.png");
  background-size: cover;
  opacity: 0.5;
}
.__home .__hero-section .vector1 {
  position: absolute;
  bottom: 100px;
  right: 80px;
  width: 80px;
  height: 80px;
  z-index: 999;
  background-image: url("../images/vector1.png");
  background-size: cover;
  opacity: 0.5;
}
.__home .__hero-section .vector2 {
  position: absolute;
  bottom: 200px;
  right: 0px;
  width: 80px;
  height: 80px;
  z-index: 999;
  background-image: url("../images/vector2.png");
  background-size: cover;
  opacity: 0.5;
}

/**__About**/
.__about {
  /**__hero-section**/
  /**__title-section**/
  /**__list-section**/
}
.__about .__hero-section {
  width: 100%;
  min-height: 20vh;
  position: relative;
  background-color: #f5f5f5;
  color: #333;
  background-image: url("../images/white-banner.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  padding: 1rem 2rem;
}
.__about .__hero-section h2 {
  font-size: 5rem;
  font-weight: 800;
  margin: 2.5rem 0;
  color: #12225b;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.__about .__hero-section p {
  max-width: 900px;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  color: #12225b;
  font-weight: 500;
  line-height: 1.3rem;
}
.__about .__title {
  padding: 2.5rem;
  background-color: #12225b;
  color: #fff;
  background-image: url("../images/blue-banner.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
}
.__about .__title h2 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
.__about .__list-person {
  width: 100%;
  background-color: #fff;
  padding: 2rem 1rem;
}
.__about .__list-person .row {
  text-align: center;
}
.__about .__list-person .row img {
  width: 90%;
  object-fit: cover;
  aspect-ratio: 3/3;
  border-radius: 0.6rem;
}
.__about .__list-person .row img:hover {
  opacity: 0.8;
}
.__about .__list-person .row h3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin-top: 0.8rem;
}
.__about .__list-person .row p {
  font-size: 0.7rem;
  margin-top: -0.5rem;
  font-weight: 500;
}

/**__Achieve**/
.__achieve {
  /**__hero-section**/
}
.__achieve .__hero-section {
  width: 100%;
  min-height: 20vh;
  position: relative;
  background-color: #12225b;
  padding: 1rem 2rem;
}
.__achieve .__hero-section h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 2.5rem 0;
  color: #fff;
  font-family: "Playfair Display", serif;
  text-align: center;
}

/**__Footer**/
.__footer {
  background-color: #12225b;
  background-image: url("../images/blue-banner.jpg");
  color: #fff;
  padding: 5rem 1rem;
}
.__footer p {
  font-size: 0.85rem;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}
.__footer a,
.__footer span {
  color: #fff;
  font-size: 0.85rem;
}
.__footer a:hover,
.__footer span:hover {
  color: #3498db;
}
.__footer .container:first-child {
  padding-bottom: 3rem;
}
.__footer .container:first-child h5 {
  margin-bottom: 1rem;
}
.__footer .container:first-child a,
.__footer .container:first-child span {
  margin-bottom: 0.5rem;
}
.__footer .container:last-child .row > div:nth-child(2) a {
  display: inline-flex;
  height: 100%;
  align-items: center;
}
.__footer .container:last-child .row > div:nth-child(2) a img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 1rem;
}

/**__Legal**/
.__legal p {
  white-space: pre-line;
  padding: 1.5rem 0;
}
.__legal > div {
  padding: 1.5rem 0;
}

/**__Media-Queries**/
@media (max-width: 1200px) {
  .__home .__hero-section h2 {
    font-size: 3rem;
  }
  .__home .__hero-section p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 992px) {
  .__home .__hero-section {
    padding: 2rem 0;
  }
  .__home .__hero-section .row > div:last-child {
    padding: 0 2rem;
    text-align: center;
    align-items: center;
  }
  .__home .__hero-section img {
    aspect-ratio: 16/9;
    padding: 0 1rem;
  }
  .__home .__hero-section h2 {
    font-size: 2.5rem;
  }
  .__home .__hero-section p {
    font-size: 0.9rem;
  }
  .__home .__hero-section .right-dots {
    display: none;
  }
  .__home .__hero-section .vector1 {
    display: none;
  }
  .__home .__hero-section .vector2 {
    display: none;
  }
  .__footer .container:last-child .row > div:nth-child(2) {
    text-align: left !important;
  }
}
@media (max-width: 768px) {
  .__navbar {
    height: 55px;
  }
  .__navbar .navbar-brand img {
    width: 120px;
  }
  .__about .__hero-section h2 {
    font-size: 3rem;
  }
  .__about .__list-person .row img {
    width: 70%;
  }
  .__about .__list-person .row h3 {
    font-size: 1.4rem;
  }
}
/**__Search-page**/
.__search-page .search-results {
  margin-top: 2rem;
}
.__search-page .search-results .search-result {
  margin-bottom: 1rem;
  text-decoration: none;
}
.__search-page .search-results .search-result .search-result-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.__search-page .search-results .search-result .search-result-content {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  margin-top: 0.5rem;
}

/**__404-page **/
.__404-page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 50px auto 40px auto;
  max-width: 600px;
  text-align: center;
}
.__404-page a {
  color: #4183c4;
  text-decoration: none;
}
.__404-page a:hover {
  text-decoration: underline;
}
.__404-page h1 {
  letter-spacing: -1px;
  line-height: 60px;
  font-size: 60px;
  font-weight: 100;
  margin: 0px 0 50px 0;
  text-shadow: 0 1px 0 #fff;
}
.__404-page p {
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 10px;
  line-height: 1.6;
}
.__404-page ul {
  list-style: none;
  margin: 25px 0;
  padding: 0;
}
.__404-page li {
  display: table-cell;
  font-weight: bold;
  width: 1%;
}
.__404-page .logo {
  display: inline-block;
  margin-top: 35px;
}
.__404-page .logo-img-2x {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .__404-page .logo-img-1x {
    display: none;
  }
  .__404-page .logo-img-2x {
    display: inline-block;
  }
}
.__404-page #suggestions {
  margin-top: 35px;
  color: #ccc;
}
.__404-page #suggestions a {
  color: #666666;
  font-weight: 200;
  font-size: 14px;
  margin: 0 10px;
}